JdbcDriver = com.mysql.jdbc.Driver
JdbcUrl = jdbc:mysql://localhost:3306/db_ivis_test

# Database login
User = root
Password = root

# Max number of connections to the database
MaxConnectionCount = 20

#hibernate options
Hibernate.hbm2ddl = update
Hibernate.dialect = org.hibernate.dialect.MySQL5InnoDBDialect